<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Make an Album</h1>
    <form action="/create/album" method="post">  <!--We need to add this route to the urls.py file-->
        <!-- Adding a CSRF token to our forms allows Django to add a hidden input field and value that helps our server recognize genuine requests. 
            If you forget to add this, Django will kindly provide a clear error message if you attempt to submit a form without a token. -->
        {% csrf_token %}
        <label>Album Name: <input name="album_name" type="text"></label>
        <label>Album Year: <input name="year" type="number"></label>
        <input type="submit" value="Create Album">
    </form>
    <h2>All the Albums</h2>
    {% for album in all_the_albums %}
        <p>{{album.album_name}} - {{album.year}}</p>
        <ul>
            <!-- album.all_songs.all is how we get to the list of dictionaries.  Without the .all at the end Django thinks its a relationship -->
            <!-- all_songs comes from the model file -->
            {% for one_song in album.all_songs.all %}
                <li>{{one_song.song_name}}</li>
            {% endfor %}
        </ul>
    {% endfor %}
    <a href="/song_form ">Make a Song</a>
</body>
</html>