<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Make an Album</h1>
    <form action="/create/album" method="post">
        {% csrf_token %}
        <label>Album Name: <input name="album_name" type="text"></label>
        <label>Album Year: <input name="year" type="number"></label>
        <input type="submit" value="Create Album">
    </form>
</body>
</html>