<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Make an Song </h1>
    <form action="/create/song" method="post">  <!--We need to add this route to the urls.py file-->
        <!-- Adding a CSRF token to our forms allows Django to add a hidden input field and value that helps our server recognize genuine requests. 
            If you forget to add this, Django will kindly provide a clear error message if you attempt to submit a form without a token. -->
        {% csrf_token %}
        <label>Song Name: <input name="song_name" type="text"></label>
        <select name="album">
            {% for album in all_the_albums %}
                <option value="{{album.id}}">{{album.album_name}} - {{album.year}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Create Song">
    </form>
</body>
</html>